<p>ID: {{vant.id}}</p>
<p>typeId: {{vant.typeId}}</p>
<p>valueId: {{vant.valueId}}</p>
<p>model: {{vant.model}}</p>
<p>type: {{vant.type}}</p>
<p>manufacturer: {{vant.manufacturer}}</p>
<p>comunication: {{vant.comunication}}</p>
<p>tecType: {{vant.tecType}}</p>
<p>tecAddress: {{vant.tecAddress}}</p>