<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{usersQtd}}</h3>
            <p>Users</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href="/users" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{vantsQtd}}</h3>
    
            <p>VANTs</p>
          </div>
          <div class="icon">
            <i class="fas fa-plane"></i>
          </div>
          <a href="/vants" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{componentsQtd}}</h3>
    
            <p>Components</p>
          </div>
          <div class="icon">
            <i class="fas fa-cog"></i>
          </div>
          <a href="/components" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{phasesQtd}}</h3>
            <p>Phases</p>
          </div>
          <div class="icon">
            <i class="fas fa-stopwatch"></i>
          </div>
          <a href="/phases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{missionsQtd}}</sup></h3>
    
            <p>Missions</p>
          </div>
          <div class="icon">
            <i class="fas fa-route"></i>
          </div>
          <a href="/missions" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{compVantsQtd}}</h3>
    
            <p>CompVants</p>
          </div>
          <div class="icon">
            <i class="fas fa-plane-arrival"></i>
          </div>
          <a href="/compvants" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>