<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Missions</h1>
      </div>
    </div>
  </div>
</div>

<p>ID: {{mission.id}}</p>
<p>Client: {{mission.client}}</p>
<p>Architecture: {{mission.architecture}}</p>
<p>Central VANT: {{mission.centralVant}}</p>
<p>Formation: {{mission.formation}}</p>